body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    fundo{
        background-image: url (https://photos.app.goo.gl/f8CUvafFVMjwLQcY8);
    }
}

.minha{

width : 250px;
height: 300px;
}
header {
    background-color: #298b96;
    color: rgb(253, 253, 253);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem;
}

.projeto {
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea, form button {
    margin-top: 0.5rem;
    padding: 0.5rem;
}